.header {
  background: #3470ff;
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.list {
  display: flex;
  gap: 20px;
}

.logo_link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 15px;
  padding: 20px 0px;
}
.title {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
}
.link {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3s;
}
.link:hover {
  color: #a6a6a6;
}
